{% extends 'base.html' %}
{% load static %}
{% block title %}
        <title>Ex01: Display process of a static page.</title>
{% endblock title %}
{% block content %}
    <h1>정적 웹페이지 !</h1>
        <pre>

             정적 웹 페이지는 언제 접속해도 같은 응답을 보내줍니다. 일단 HTML, CSS, JS 파일 등이 서버에 업로드되면 
            개발자가 수정하기 전까지 매번 같은 파일을 브라우저에 건네줍니다. 즉, 웹 서버가 정적 웹 페이지에 대한 요청을
            받은 경우 서버는 추가적인 처리 과정 없이 클라이언트에게 응답을 보냅니다. 예를 들어 회사나 개인의 소개 
            페이지가 정적 웹 페이지의 좋은 예시입니다. 

             정적 웹의 대표적인 사례로 회사 소개 페이지를 떠올릴 수 있습니다. 별다른 로그인이 없고 페이지는 어떤 디바이스,
            상황에 상관 없이 항상 일정한 화면을 제공해주죠. 그 경우에 브라우저는 웹 서버와 통신해서 이미 저장되어 있던 
            HTML, CSS, JS 파일을 다운받습니다.  여기서 웹 서버는 HTML, CSS, JS 저장소 역할을 하는 거죠. 따로
            데이터베이스가 필요하거나 복잡한 비즈니스 로직이 필요하지 않아요.
        </pre>
{% endblock content %}