{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Ex01: Template engine.</title>
{% endblock %}
 {% block style %}
    <link rel="stylesheet" href="{% static 'style2.css'%}">
{% endblock style %} 

{% block content %}
<pre>
    Django의 템플릿 언어(template language)는 강력함과 편리함 사이의 균형을 잡고자 설계되었다. 템플릿 언어를 사용하면 HTML 작업을 훨씬 수월하게 할 수 있다.

    변수, 필터, 태그, 주석 등 4가지 기능을 제공한다.

    1. 템플릿 변수

    템플릿변수를 사용하면 뷰에서 템플릿으로 객체를 전달할 수 있다.

    {{ 변수 }}와 같이 생겼다.
    점(.) 은 변수의 속성에 접근할 때 사용한다.

    2. 템플릿 필터

    템플릿필터는 변수의 값을 특정 형식으로 변환할 때 사용한다. 변수 다음에 파이프(|)를 넣은 다음 적용하고자 하는 필터를 명시한다.

    여러 개의 필터를 연속적으로 사용할 수 있다.

    몇몇 필터는 : 문자를 통해 인자를 취한다.

    필터 인자에 공백이 포함된 경우에는 반드시 따옴표로 둘러싸야한다.

    템플릿 필터를 직접 만들 수도 있다. Custom template tags and filters 참고

    장고는 30개 정도의 내장 템플릿 필터를 제공하는데, 자주 사용되는 템플릿 필터를 정리했다.

    default

    변수가 false 또는 비어 있는 경우, 지정된 defalut를 사용한다.

    length

    값의 길이를 반환한다. 문자열과 목록에 대하여 사용할 수 있다.


    3. 템플릿 태그

    HTML 자체는 프로그래밍 로직을 구현할 수 없지만, 템플릿 태그를 사용하면 if문, for문처럼 흐름을 제어할 수 있다.

    for

    배열의 각 원소에 대하여 루프.

    if / else

    변수가 true이면 블록의 컨텐츠를 표시. if 태그 내에 템플릿 필터 및 각종 연산자를 사용할 수 있다.

    block 및 extentds

    중복되는 html 파일 내용을 반복해서 작성해야하는 번거로움을 줄여준다. 자세한 내용은 템플릿 상속 참조.

    4. 템플릿 코멘트

    HTML 문서 상에서 주석이 필요할 때 사용한다.

</pre>
{% endblock %}
