<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>delete</title>
  </head>
  <body>
  
    <form action="" method="POST">
    {% csrf_token %}

    {{ RemoveForm.as_table }}
    <input type="submit" value="remove">
    
    </form> 
    <!-- {% comment %} <br><br>
      <select name="delete_title">
          {% for title in movies %}
            <option value={{title.1}}>{{title.0}}</option>
          {% endfor %}
      </select>
      <input type="submit" value="submit">
      {% endcomment %} -->
  </body>
</html>