{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Synopsis</th>
            <th>Writer</th>
            <th>Created</th>
            <th>When</th>
            <th> </th>
            <!-- <th>content</th> -->
        </tr>

        {% for publisher in object_list %}
        <tr>
            <td>{{ publisher.title|truncatechars:20 }}</td>
            <td>{{ publisher.synopsis|truncatechars:20 }}</td>
            <td>{{ publisher.author }}</td>
            <td>{{ publisher.created }}</td>
            <td>{{ publisher.created|timesince}}</td>
            <td>
                {% buttons %}
                <a href="{% url 'articles' %}{{ publisher.id }}"  class="btn btn-danger">
                  Read
                </a>
                {% endbuttons %}
            </td>
            <!-- <td>{{ publisher.content }}</td> -->
        </tr>
        {% endfor %}
    </table>
    {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
    {% endif %}


{% endblock %}