{% load static %} {% load bootstrap3 %}
<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <!-- 메뉴에서 가장 왼쪽, 모바일에서5 표시되는 제목 -->
    <div class="navbar-header">
      <!-- 모바일때 표시되는 메뉴 버튼(PC 버젼에서는 보이지 않는다.) -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}"></a>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
      <ul class="nav navbar-nav navbar-left" >
      <li class="navbar-brand">
          <a href="{% url 'index' %}" style="padding:0%;margin-left:5px">
              <span style="margin-left:-22px; font-size:20px" class="glyphicon glyphicon-bitcoin" aria-hidden="true"></span><span class="sr-only">(current)</span></a>
      </li>
      <li>
          <a href="{% url 'articles' %} ">Articles <span class="sr-only"></span></a>
      </li>
      {% if user.is_authenticated %}
      <li >
        <a href="{% url 'publish' %}">Publish <span class="sr-only"></span></a>
      </li>
      <li >
        <a href="{% url 'favourite' %}">Favourites <span class="sr-only"></span></a>
      </li>
      <li >
        <a href="{% url 'profile' %}">Profile <span class="sr-only"></span></a>
      </li>
      <li>
        <a href="{% url 'publications' %}">Publications <span class="sr-only"></span></a>
      </li>
      {% else %}
      <li>
          <a href="{% url 'register' %}">Register <span class="sr-only"></span></a>
      </li>
      {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            {% if user.is_staff %}
            <li>
              <a href="{% url 'admin:index' %}"><h5 style="color:red">STAFF</h5></a>
            </li>
            {% endif %}
            <li >
              <a href="#">Logged as {{request.user.username}}<span class="sr-only"></span></a>
            </li>
            <li >
              <a href="{% url 'logout' %}">Logout<span class="sr-only"></span></a>
            </li>
            {% else %}
            <li>
            <form id="login_form" action="{% url 'login' %}" class="navbar-form navbar-left" method="POST">
                {% csrf_token %}
                {% bootstrap_form login_form %}
                {% buttons %}
                <button type="submit" class="btn btn-default">Login</button>
                {% endbuttons %}
              </form>
            </li>
            {% endif %}
              </ul>
            </li>
      </ul>
    </div>
  </div>
</nav>