<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        
        td {
            width: 80px;
            height: 40px;
        }
        th {
            height: 40px;
        }
    </style>
</head>
<body>
    <table>
        <th><i>noir</i></th>
        <th><i>rouge</i></th>
        <th><i>bleu</i></th>
        <th><i>vert</i></th>
        {% for color in colors %}
        <tr>
            <td style="background-color: rgb( {{ color }} ,{{ color }} , {{ color }}); " ></td>
            <td style="background-color: rgb( {{ color }} ,0 , 0);" ></td>
            <td style="background-color: rgb( 0 ,0 , {{ color }});" ></td>
            <td style="background-color: rgb( 0 ,{{ color }} , 0);" ></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html> 